body {
    margin: 0;
}

#wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#interface {
    background-color: #161616;
    color: white;
    font-family: sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    width: 15%;
}

#interface h2 {
    border-bottom: 1px solid white;
    margin-bottom: 8px;
}

#interface select {
    width: 100%;
    margin-bottom: 8px;
}

#interface label {
    display: flex;
    justify-content: space-between;

}

#renderer-wrapper {
    flex-grow: 1;
    overflow: hidden;
}