body {
    margin: 0;
}

#wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#interface {
    background-color: #161616;
    color: white;
    font-family: sans-serif;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: scroll;
    width: 256px;
}

#interface label {
    white-space: nowrap;
}

#interface .header {
    display: flex;
}

#interface .header h2 {
    flex-grow: 1;
}

#interface .header h3 {
    flex-grow: 1;
}

#interface .header button {
    border: none;
    color: white;
    font-size: 32px;
    font-family: monospace;
    background: none;
    cursor: pointer;
    outline: 0;
}

#interface .header button:after {
    content: "-";
}

#interface .subcategory {
    margin-left: 16px;
}

#interface .category {
    display: flex;
    flex-direction: column;
}

#interface .category  button {
    margin-top: 8px;
}

#interface .collapsed .header button:after {
    content: "+";
}

#interface .collapsed .content {
    display: none;
}

#interface h2 {
    border-bottom: 1px solid white;
    margin-top: 8px;
    margin-bottom: 8px;
}

#interface h3 {
    border-bottom: 1px solid white;
    margin-top: 8px;
    margin-bottom: 8px;
}

#interface select {
    width: 100%;
    margin-bottom: 8px;
}

#interface label {
    display: flex;
    justify-content: space-between;

}

#renderer-wrapper {
    flex-grow: 1;
    overflow: hidden;
}